* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

html, body, #root {
  height: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container{
  flex: 1 !important;
}


/* Layout */

header{
  text-align: center;
  padding: 50px;
  background-color: lightgray;
}

footer{
  position: static;
  padding: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Details */

.detailCard{
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  margin: 50px 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.detailCard li {
  margin: 20px 0;
}

.details{
  list-style: none;
  padding: 0;
}

.docName{
  font-size: 24px;
  font-weight: bold;
}

.docImg{
  margin: 40px 0;
}

.pageSelect{
  display: flex;
  margin: 45px 0;
}

.pageSelect .btn {
  width: 50%;
} 


/* Reviews */

.reviewCard{
  border: 1px solid lightgray;
  margin: 20px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.rev{
  list-style: none;
}

.rev li {
  margin: 20px 0;
}

.reviewBox label{
  margin: 15px 0;
}

/* SEARCHBAR */
.search {
  display: flex;
  flex-direction: column;
}

/* SCROLLBARS */
/* Vertical */
::-webkit-scrollbar{
  width: 10px;
  background: #cecece;
}

::-webkit-scrollbar-thumb{
  background: #0d6efd;
}

/* Horizontal */
::-webkit-scrollbar:horizontal {
  height: 10px;
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #0d6efd;
  border-radius: 10px;
}

/* HomePage.jsx */
/* TOP DOCTORS SECTION */
.top-doc-card {
  border: 1px solid rgb(13, 110, 253);
  display: flex;
  border-radius: 21px;
  padding: 10px;
}

.top-doc-name {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #0d6efd;

}

.top-doc-img-container {
  height: 120px;
  width: 120px;
}

.top-doc-img {
  border-radius: 50%;
  /* border: 1px solid rgba(0, 0, 0, 0.6); */
  width: 100%;
  height: 100%; 
  object-fit: cover;
}

.top-doc-text {
  display: flex;
  gap: 70px;
  align-items: center;
  text-align: right;
  margin-bottom: 20px;
}

.top-doc-btn {
  display: block;
  border: #0d6efd 1px solid;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  padding: 3px 5px;
}

.fa-solid.fa-arrow-right {
  font-size: 0.9rem;
}
