*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

html, body, #root {
  height: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container{
  flex: 1 !important;
}


/* Layout */

header{
  text-align: center;
  padding: 50px;
  background-color: lightgray;
}

footer{
  position: static;
  padding: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Details */

.detailCard{
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  margin: 50px 100px;
  text-align: center;
  border-radius: 5px;
}

.detailCard li {
  margin: 20px 0;
}

.details{
  list-style: none;
}

.docName{
  font-size: 24px;
  font-weight: bold;
}

.docImg{
  margin: 40px 0;
}


/* Reviews */

.reviewCard{
  border: 1px solid lightgray;
  margin: 20px 0;
  text-align: center;
  border-radius: 15px;
}

.rev{
  list-style: none;
}

.rev li {
  margin: 20px 0;
}

/* SEARCHBAR */
.search {
  display: flex;
  flex-direction: column;
}