*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

html, body, #root {
  height: 100% !important;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.container{
  flex: 1 !important;
}


/* Layout */

header{
  text-align: center;
  padding: 50px;
  background-color: lightgray;
}

footer{
  position: static;
  padding: 40px;
  background-color: black;
  color: white;
  text-align: center;
}

/* Details */

.detailCard{
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
  width: 100%;
}

.modalsCard {
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
  border: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
  margin-bottom: 25px;
}

.detailCard li {
  margin: 20px 0;
}

.detailCard > * {
  width: calc(100%/3);
}

.details, .docDesc{
  list-style: none;
  padding: 0;
  margin: 0 25px;
}

.docName{
  font-size: 24px;
  font-weight: bold;
}


.pageSelect{
  display: flex;
  padding: 45px 0;
}

.pageSelect .btn {
  width: 50%;
} 

.modalScreen{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.274);
}

.modal{
  display: flex !important;
  flex-direction: column;
  max-width: 500px !important;
  width: 90%;
  height: auto !important;
  justify-content: center;
  align-items: center;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background-color: #2a2dda;
  border-radius: 5px;
}

.close{
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

/* Reviews */

.reviewCard{
  border: 1px solid lightgray;
  margin: 20px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

.rev{
  list-style: none;
  padding: 0;
}

.rev li {
  margin: 20px 0;
}

.reviewBox label{
  margin: 15px 0;
}

/* SEARCHBAR */
.search {
  display: flex;
  flex-direction: column;
}

/* SCROLLBARS */
/* Vertical */
::-webkit-scrollbar{
  width: 10px;
  background: #cecece;
}

::-webkit-scrollbar-thumb{
  background: #0d6efd;
}

/* Horizontal */
::-webkit-scrollbar:horizontal {
  height: 10px;
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
  background: #0d6efd;
  border-radius: 10px;
}